
/* switch lang */
:where(.css-dev-only-do-not-override-15rg2km) .ant-switch.ant-switch-checked,
.ant-switch {
  background-color: #1a2442;
}
:where(
    .css-dev-only-do-not-override-15rg2km
  ).ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled),
:where(.css-dev-only-do-not-override-15rg2km).ant-switch:hover:not(
    .ant-switch-disabled
  ) {
  background: #f7a833;
}
.ant-drawer-header-title {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.ant-drawer-title {
  display: flex;
  justify-content: center;
}
.ant-radio-wrapper:hover .ant-radio-inner{
  border-color:#1A2442
}
.ant-radio-wrapper .ant-radio-checked .ant-radio-inner{
  background-color:#1A2442
}
.swiper-pagination-bullet-active{
  background: #f7a833 !important
}
/* //////////////////////////// */
